# Node modules
node_modules/
# Salidas de compilación
dist/
build/
# Archivos de logs
*.log
# Archivos del gestor de paquetes
pnpm-lock.yaml
# Archivos del sistema operativo
.DS_Store
Thumbs.db
# Configuración local de entorno
.env
.env.*